{% extends 'base1.html' %}
{% block title %} About {% endblock title %}
{% block content %}
<div class="about">
    <div class="summary_name">Professional Summary</div>
    <div class="summery_text">Telekommunikatsiya texnologiyalari yo‘nalishida tahsil olayotgan, dasturlash va web
    ilovalar ishlab chiqish bo‘yicha amaliy ko‘nikmaga ega talabaman. Python, Django
    va FastAPI platformalarida backend tizimlarini yaratish, shuningdek HTML, CSS va
    Bootstrap yordamida frontend sahifalar tayyorlash bo‘yicha tajribam bor. Zamonaviy
    texnologiyalarni o‘rganishga va ularni amaliy loyihalarda qo‘llashga qiziqaman.
    Maqsadim — texnik bilim va ko‘nikmalarimni ish jarayonida mukammallashtirib,
    jamoa bilan sifatli loyihalar yaratish.</div>
    <div class="education">EDUCATION</div>
    <div class="education_name">MUHAMMAD AL-XORAZMIY NOMIDAGI
    TOSHKENT AXBOROT TEXNOLOGIYALARI
    UNIVERSITETI</div>
    <div class="education_fak"><b>Fakultet: RADIO VA MOBIL ALOQA <br><br>
    Bakalavriatura Yo’nalish: Telekommunikatsiya texnologiyalari (Teleradioeshittirish)</b></div>
    <div class="education_date">Sep 2021 – May 2025</div>
    
    <div class="courses">Courses & Certifications</div>
        <div class="courses_name">MohirDev</div>
        <div class="courses_text">Full Stack Python — Mohirdev online kursi Boshlang‘ichdan professional
darajagacha Python, Django, REST API va frontend texnologiyalarini o‘rgatish kursi.
Kurs davomida amaliy loyihalar bajarilgan.</div>

</div>
{% endblock content %}