{% extends 'base1.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}
<section>
<div class="container">
    <div class="container_img">
        <img src="{% static 'images/ChatGPT.png' %}" alt="img">
    </div>
    <div class="container_info">
        <h1>Javohir Sattorov </h1>
        <h2>I am BackEnd Developer</h2>
        <a href="https://t.me/jsjavoh" class="telegram-link">
            <i class="fa-brands fa-telegram"></i>
        </a>
        <a href="https://instagram.com/jsjavoh" class="telegram-link">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://github.com/jsjavoh" class="telegram-link">
            <i class="fa-brands fa-github"></i>
        </a>
        
    </div>
</div>
</section>

{% endblock content %}